# Importações

In [1]:
import pandas as pd 
import numpy as np

# Importar dados do PostgreSQL

In [2]:
# Como a Api ainda não esta a funcionar, vou importar os dados de um csv
df = pd.read_csv('../all_bike_counts.csv', parse_dates=['detected'], dtype='int32')
df = df.set_index('detected')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 22632 entries, 2021-08-01 00:00:00 to 2024-02-29 23:00:00
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   direction_2   22632 non-null  int32
 1   count_2       22632 non-null  int32
 2   direction_3   22632 non-null  int32
 3   count_3       22632 non-null  int32
 4   direction_4   22632 non-null  int32
 5   count_4       22632 non-null  int32
 6   direction_5   22632 non-null  int32
 7   count_5       22632 non-null  int32
 8   direction_6   22632 non-null  int32
 9   count_6       22632 non-null  int32
 10  direction_7   22632 non-null  int32
 11  count_7       22632 non-null  int32
 12  direction_8   22632 non-null  int32
 13  count_8       22632 non-null  int32
 14  direction_9   22632 non-null  int32
 15  count_9       22632 non-null  int32
 16  direction_10  22632 non-null  int32
 17  count_10      22632 non-null  int32
 18  direction_11  22632 non-null  int32
 19  count_11      22632 non-null  int32
 20  direction_12  22632 non-null  int32
 21  count_12      22632 non-null  int32
 22  direction_13  22632 non-null  int32
 23  count_13      22632 non-null  int32
 24  direction_14  22632 non-null  int32
 25  count_14      22632 non-null  int32
 26  direction_15  22632 non-null  int32
 27  count_15      22632 non-null  int32
 28  direction_16  22632 non-null  int32
 29  count_16      22632 non-null  int32
 30  direction_17  22632 non-null  int32
 31  count_17      22632 non-null  int32
 32  direction_19  22632 non-null  int32
 33  count_19      22632 non-null  int32
 34  direction_20  22632 non-null  int32
 35  count_20      22632 non-null  int32
 36  direction_21  22632 non-null  int32
 37  count_21      22632 non-null  int32
 38  direction_22  22632 non-null  int32
 39  count_22      22632 non-null  int32
 40  direction_24  22632 non-null  int32
 41  count_24      22632 non-null  int32
 42  direction_25  22632 non-null  int32
 43  count_25      22632 non-null  int32
 44  direction_26  22632 non-null  int32
 45  count_26      22632 non-null  int32
 46  direction_28  22632 non-null  int32
 47  count_28      22632 non-null  int32
 48  direction_29  22632 non-null  int32
 49  count_29      22632 non-null  int32
 50  direction_30  22632 non-null  int32
 51  count_30      22632 non-null  int32
 52  direction_31  22632 non-null  int32
 53  count_31      22632 non-null  int32
 54  direction_32  22632 non-null  int32
 55  count_32      22632 non-null  int32
 56  direction_33  22632 non-null  int32
 57  count_33      22632 non-null  int32
 58  direction_34  22632 non-null  int32
 59  count_34      22632 non-null  int32
 60  direction_35  22632 non-null  int32
 61  count_35      22632 non-null  int32
dtypes: int32(62)
memory usage: 5.5 MB

In [3]:
df_loc = pd.read_csv('../all_counter_locations.csv')
df_loc.info()
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   locationId         31 non-null     int64
 1   tenantIdentifier   31 non-null     object
 2   name               31 non-null     object
 3   cp7                31 non-null     object
 4   freguesia          31 non-null     object
 5   directionPositive  0 non-null      float64
 6   directionNegative  0 non-null      float64
 7   latitude           31 non-null     float64
 8   longitude          31 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 2.3+ KB

# Analises

In [4]:
df.index

DatetimeIndex(['2021-08-01 00:00:00', '2021-08-01 01:00:00',
               '2021-08-01 02:00:00', '2021-08-01 03:00:00',
               '2021-08-01 04:00:00', '2021-08-01 05:00:00',
               '2021-08-01 06:00:00', '2021-08-01 07:00:00',
               '2021-08-01 08:00:00', '2021-08-01 09:00:00',
               ...
               '2024-02-29 14:00:00', '2024-02-29 15:00:00',
               '2024-02-29 16:00:00', '2024-02-29 17:00:00',
               '2024-02-29 18:00:00', '2024-02-29 19:00:00',
               '2024-02-29 20:00:00', '2024-02-29 21:00:00',
               '2024-02-29 22:00:00', '2024-02-29 23:00:00'],
              dtype='datetime64[ns]', name='detected', length=22632, freq=None)

In [5]:
df.tail()

,direction_2,count_2,direction_3,count_3,direction_4,count_4,direction_5,count_5,direction_6,count_6,...,direction_31,count_31,direction_32,count_32,direction_33,count_33,direction_34,count_34,direction_35,count_35
detected,,,,,,,,,,,,,,,,,,,,,
2024-02-29 19:00:00,15,35,26,240,13,32,22,77,30,173,...,2,12,3,21,17,47,19,81,13,43
2024-02-29 20:00:00,17,35,11,144,11,17,20,46,12,99,...,1,4,3,9,17,29,13,49,14,39
2024-02-29 21:00:00,11,13,2,22,10,13,7,19,6,27,...,3,5,3,10,8,13,17,42,14,46
2024-02-29 22:00:00,6,20,174,177,4,5,14,21,18,32,...,1,1,2,2,5,12,11,31,8,24
2024-02-29 23:00:00,3,10,210,214,18,22,74,86,104,126,...,3,4,0,3,4,13,12,30,20,39

In [6]:
df.loc['2022'].tail(2)

,direction_2,count_2,direction_3,count_3,direction_4,count_4,direction_5,count_5,direction_6,count_6,...,direction_31,count_31,direction_32,count_32,direction_33,count_33,direction_34,count_34,direction_35,count_35
detected,,,,,,,,,,,,,,,,,,,,,
2022-12-31 22:00:00,0,7,2,2,2,2,2,5,9,15,...,1,1,1,15,26,127,52,87,12,55
2022-12-31 23:00:00,1,11,0,1,1,3,5,6,10,14,...,2,2,4,14,15,238,99,138,24,100

In [7]:
df.resample('D').first().dropna().index[[0, -1]]

DatetimeIndex(['2021-08-01', '2024-02-29'], dtype='datetime64[ns]', name='detected', freq=None)

In [8]:
df.resample('D').first().dropna().iloc[[0, -1]]

,direction_2,count_2,direction_3,count_3,direction_4,count_4,direction_5,count_5,direction_6,count_6,...,direction_31,count_31,direction_32,count_32,direction_33,count_33,direction_34,count_34,direction_35,count_35
detected,,,,,,,,,,,,,,,,,,,,,
2021-08-01,0,0,1,1,0,0,0,0,6,7,...,1,1,3,7,4,6,2,2,30,42
2024-02-29,6,7,0,1,4,6,1,7,3,12,...,1,3,2,5,8,11,2,13,5,17

In [9]:
# Seleciona o primeiro e o último dia com os contadores
df_mostrar = df.resample('D').first().dropna().iloc[[0, -1]]

# Identifica as colunas que representam os contadores e direções
contador_cols = [col for col in df.columns if col.startswith('direction_') or col.startswith('count_')]

# Identifica o primeiro e o último contador
primeiro_contador = sorted(set(int(col.split('_')[1]) for col in contador_cols))[0]
ultimo_contador = sorted(set(int(col.split('_')[1]) for col in contador_cols))[-1]

# Seleciona as colunas para o primeiro e o último contador
primeiro_contador_cols = [f'direction_{primeiro_contador}', f'count_{primeiro_contador}']
ultimo_contador_cols = [f'direction_{ultimo_contador}', f'count_{ultimo_contador}']

# Exibe as colunas desejadas
df_selecionado = df_mostrar[primeiro_contador_cols + ultimo_contador_cols]

# Exibe o resultado
df_selecionado

            direction_2  count_2  direction_35  count_35
detected
2021-08-01            0        0            30        42
2024-02-29            6        7             5        17

In [10]:
df_loc.head(2)

,locationId,tenantIdentifier,name,cp7,freguesia,directionPositive,directionNegative,latitude,longitude
0,2,lisboa.pt.mycycletraffic,#18 - Avenida do Colégio Militar,1500-069,Benfica,NaN,NaN,38.749623,-9.191153
1,3,lisboa.pt.mycycletraffic,#01 - Telheiras - Colégio Alemão,1600-616,Lumiar,NaN,NaN,38.759682,-9.164044

### Identificar se há dias com valores a zéro

In [11]:
location_ids = [2,3,4,8,9,12,13]  
contadores = [f"count_{loc}" for loc in location_ids]

In [12]:
df_daily = df.resample('D').sum()

In [13]:
# Identificar zeros na série
for contador in contadores:
    if contador in df_daily.columns:  
        series = df_daily[contador].copy()  
        zero_indices = series[series == 0].index  

        if not zero_indices.empty:
            print(f"Zeros encontrados no contador '{contador}' nas datas: {list(zero_indices)}")

Zeros encontrados no contador 'count_2' nas datas: [Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2024-01-19 00:00:00')]
Zeros encontrados no contador 'count_3' nas datas: [Timestamp('2022-08-18 00:00:00'), Timestamp('2022-08-19 00:00:00'), Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2023-12-01 00:00:00'), Timestamp('2023-12-02 00:00:00'), Timestamp('2023-12-03 00:00:00'), Timestamp('2023-12-04 00:00:00'), Timestamp('2024-01-19 00:00:00')]
Zeros encontrados no contador 'count_4' nas datas: [Timestamp('2022-08-18 00:00:00'), Timestamp('2022-08-19 00:00:00'), Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2024-01-19 00:00:00')]
Zeros encontrados no contador 'count_8' nas datas: [Timestamp('2022-08-18 00:00:00'), Timestamp('2022-08-19 00:00:00'), Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2024-01-19 00:00:00')]
Zeros encontrados no contador 'count_9' nas datas: [Timestamp('2022-08-18 00:00:00'), Timestamp('2022-08-19 00:00:00'), Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2024-01-19 00:00:00')]
Zeros encontrados no contador 'count_12' nas datas: [Timestamp('2022-08-18 00:00:00'), Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2024-01-19 00:00:00')]
Zeros encontrados no contador 'count_13' nas datas: [Timestamp('2022-08-18 00:00:00'), Timestamp('2022-08-19 00:00:00'), Timestamp('2022-08-20 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-08-22 00:00:00'), Timestamp('2022-08-23 00:00:00'), Timestamp('2022-08-24 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2022-08-26 00:00:00'), Timestamp('2022-08-27 00:00:00'), Timestamp('2022-08-28 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2024-01-19 00:00:00')]

São sempre os mesmos dias que estão a zéros em todos os contadores.